[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
langchain = "*"
python-dotenv = "*"
pydantic = "*"
python-multipart = "*"
boto3 = "*"
langchain-community = "*"
langchain-openai = "*"
langgraph = "*"
pymupdf = "*"
sentence-transformers = "*"
openai = "*"
pgvector = "*"
psycopg2-binary = "*"
xmltodict = "*"
streamlit = "*"
pymongo = "*"
jq = "*"
langchain-aws = "*"
pdfplumber = "*"
tabulate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn backend.backend.app.main:app --host 0.0.0.0 --port 8000 --reload"
